<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
 <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

	<link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/favicon/apple-icon-57x57.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/favicon/apple-icon-60x60.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/favicon/apple-icon-72x72.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/favicon/apple-icon-76x76.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/favicon/apple-icon-114x114.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/favicon/apple-icon-120x120.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/favicon/apple-icon-144x144.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/favicon/apple-icon-152x152.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-icon-180x180.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/favicon/android-icon-192x192.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/favicon/favicon-96x96.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
	<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
	<link rel="manifest" href="{{ '/assets/favicon/manifest.json' | relative_url }}">
	<meta name="msapplication-TileImage" content="{{ '/assets/favicon/ms-icon-144x144.png' | relative_url }}">
	<meta name="msapplication-TileColor" content="#111111">
	<meta name="theme-color" content="#111111">

    {% include head-custom.html %}

	{% seo %}
 </head>

 <body>

    <header>
      <div class="container">
		<h1>
			<a id="a-title" href="{{ '/' | relative_url }}">{{ site.title | default: site.github.repository_name }}</a>			
			{% if page.breadcrumb %}
				{% assign segs = page.breadcrumb | split: '/' %}
				{% assign seg_url = '' %}
				{% for seg in segs %}
					{% if seg == "" %}/
					{% else %}
						{% assign seg_url = seg_url | append: '/' | append: seg %}
						/<a id="a-title" href="{{ seg_url | relative_url }}">{{ seg }}</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

		{% if site.show_downloads or site.show_repo_view %}
			<section id="downloads">
				{% if site.show_downloads %}
					<a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
					<a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
				{% endif %}
				{% if site.show_repo_view %}
					<a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
				{% endif %}
			</section>
		{% endif %}
      </div>
    </header>

    <div class="container">
		<section id="main_content">
			{{ content }}
		</section>
    </div>

	{% include footer.html %}

  </body>
</html>